<div class="uk-card uk-container containner uk-card-body">
    <div class="skills_containner uk-flex uk-flex-center" uk-grid>
        <div *ngFor="let skill of skills" 
          [ngClass]="{'uk-width-1-1 uk-grid': skill.framworks.length > 0}"
          [class.no_farmes]="1 > skill.framworks.length" 
          class="globalbox">
            <div class="uk-width-auto">
                <div class="skill_card">
                    <div class="skill_box">
                        <div class="percent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle
                                    [style.stroke-dashoffset]="440 - (440 * skill.value) / 100"
                                    [style.stroke]="skill.color" 
                                    cx="70" cy="70" r="70">
                                </circle>
                            </svg>
                            <div class="number">
                                <h2>{{ skill.value }}<span>%</span></h2>
                            </div>
                        </div>
                        <div class="skill_name"><i [style.color]="skill.color"  class="{{ skill.icon }}"></i> {{ skill.name }}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="skill.framworks.length > 0" class="framworks uk-width-expand">
                <div class="framworks_border">
                    <h2 class="frameworks_title uk-text-center">{{ skill.name + " " + framew_word }}</h2>
                    <div *ngFor="let framwork of skill.framworks" class="frame_globambox uk-margin">
                        <div class="frame_card">
                            <div class="uk-grid-small" uk-grid>
                                <span class="frame_name uk-width-auto"><i [style.color]="framwork.color" [class]="framwork.icon"></i> {{ framwork.name }}</span>
                                <div class="frame_percent uk-width-expand">
                                    <div [style.backgroundColor]="framwork.color"
                                        [style.width]="framwork.value + '%'" 
                                        class="frame_progress"></div>
                                </div>
                                <span class="frame_value uk-width-auto">{{ framwork.value }}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>