<div class="uk-card Con_box">
    <div class="uk-padding uk-flex uk-flex-center" uk-grid>
        <div *ngFor="let item of info" class="uk-width-1-3@m uk-width-1-2@s">
            <div>
                <div class="sc icon_info">
                    <i [class]="item.logo_cl"></i>
                </div>
                <div class="value_info">
                    <h5>{{ item.value }}</h5>
                    <h5 class="sc">{{ item.name }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>