.containner{
    background: #000;
    color: #fff;
}
.interest_name{
    margin: 0;
    font-weight: 700;
    line-height: 48px;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    padding-left: 15px;
    border-left: 2px solid #000;
    font-weight: 400;
}
.uk-inline{
    padding-left: 50px;
}
.uk-form-icon{
    width: 50px;
}
.uk-form-icon span , .uk-form-icon svg{
    font-size: 20px;
}