<aside>
    <div class="nav_img_box uk-flex-middle">
        <img id="V_img_nav" class="my_img" src="assets/images/logo.navbar.png">
        <img id="H_img_nav" class="my_img" src="assets/images/logo.H.navbar.png">
    </div>
    <div class="uk-width-expand nav_box">
        <a routerLink="/"  routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            class="uk-width-1-1 uk-button">
            <i class="fa fa-home"></i>
            <p>Home</p>
        </a>
        <a routerLink="/about" routerLinkActive="active"
            class="uk-width-1-1 uk-button">
            <i class="fas fa-user-tie"></i>
            <p>About</p>
        </a>
        <a routerLink="/resume" routerLinkActive="active"
            class="uk-width-1-1 uk-button">
            <i class="fas fa-address-card"></i>
            <p>Resume</p>
        </a>
        <a routerLink="/projects" routerLinkActive="active"
            class="uk-width-1-1 uk-button">
            <i class="fas fa-briefcase"></i>
            <p>Projects</p>
        </a>
        <a routerLink="/contact" routerLinkActive="active"
            class="uk-width-1-1 uk-button">
            <i class="fab fa-telegram"></i>
            <p>Contact</p>
        </a>
    </div>
</aside>

<div class="container">
    <div class="content_box">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <div class="copyright uk-card-secondary">copyright &copy; 2020 Rabyâ Raghib</div>
    </footer>
</div>


