.container{
    max-width: calc(100% - 120px);
    margin-left: 120px;
}
.container .surface_box{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    padding-left: 50%;
    padding-top: 50vh;
    overflow: hidden;
    z-index: -1;
}
.copyright{
    padding: 20px;
    text-align: center;
    font-weight: 600;
}
.height_0{
    height: 0;
}
.container .surface_box img{
    filter: grayscale(100%) contrast(50%) brightness(100%);
    max-width: unset;
    min-width: 200%;
    min-height: 200%;
    transform: translate(-50%,-50%);
}
aside{
    width: 120px;
    height: 100%;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    z-index: 1;
    background: #313131;
    text-align: center;
}
aside img{
    max-width: 100%;
    max-height: 100%;
}
aside a{
    color: #fff;
    padding: 20px 0;
    line-height: unset;
    transition: all 0.35s;
    letter-spacing: 2px;
}
aside a:not(.active):hover{
    color: #26fe26;
    background: #000;
}
aside a.active svg,aside a.active i{
    color: #26fe26;
    transform: scale(1.5);
    animation: Bance_v 2s infinite;
}
aside a svg,aside a i{
    font-size: 26px;
}
aside a p{
    margin: 0;
    margin-top: -10px;
    display: none;
    line-height: 1.5;
}
.nav_img_box img{
    margin: 0 auto;
}
.nav_img_box #H_img_nav{
    display: none;
}
@media (max-width:700px){
    .container{
        max-width: 100%;
        margin-left: 0;
        margin-top: 60px;
    }
    aside{
        overflow: hidden;
        width: 100%;
        height: 60px;
    }
    aside>*{
        float: left;
    }
    aside a{
        height: 100%;
        width: 20%;
    }
    aside a svg,aside a i{
        position: relative;
        transform: translateY(-50%);
        top: 50%;
        font-size: 17px;
        animation: none;
    }
    .container .surface_box{
        height: calc(100vh - 60px);
    }
    .nav_box{
        height: 100%;
        width: calc(100% - 120px);
    }
    .nav_img_box{
        height: 100%;
        width: 120px;
        transform: translateY(50%);
    }
    .nav_img_box #V_img_nav{
        display: none;
    }
    .nav_img_box #H_img_nav{
        display: block;
        transform: translateY(-50%);
    }
}


@keyframes Bance_v{
    0% , 20% , 40% , 80% , 100%{
        transform: translateY(0) scale(1.5);
    }
    60%{
        transform: translateY(-20px) scale(1.5);
    }
}