<div class="uk-card Con_box uk-padding">
    <form (submit)="contact()" class="msg" #FormModel="ngForm" uk-grid>  
        <div class="uk-inline uk-width-1-2@s">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
            <input  
                minlength="3" 
                maxlength="100" 
                class="uk-input" 
                name="name" 
                [(ngModel)]="dataSend.name" 
                [placeholder]="placeholder.full_name" 
                required>
        </div>
        <div class="uk-inline uk-width-1-2@s">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
            <input
                minlength="3" 
                maxlength="100" 
                class="uk-input"
                type="email" 
                name="email" email
                [(ngModel)]="dataSend.email" 
                [placeholder]="placeholder.email" 
                required>
        </div>
        <div class="uk-inline uk-width-1-1">
            <input
                maxlength="300" 
                class="uk-input" 
                type="text" 
                name="subject"
                [(ngModel)]="dataSend.subject" 
                [placeholder]="placeholder.subject" 
                required>
        </div>
        <div class="uk-inline uk-width-1-1">
            <textarea 
                class="uk-textarea uk-width-1-1" 
                type="taxt" 
                name="msg_body"
                [(ngModel)]="dataSend.msg_body" 
                [placeholder]="placeholder.body" 
                required></textarea> 
        </div>
        <div class="uk-inline uk-width-1-1 uk-text-center">
            <input [disabled]="FormModel.invalid" type="submit" class="uk-button uk-text-bold" value="Send Message">
        </div>
    </form>
</div>
