<div class="uk-animation-slide-right">
    <div class="uk-card-secondary uk-padding-large">
        <div class="about_me">
            <div class="part_title">
                <h1 class="uk-text-center">{{ title }}</h1>
                <div class="line"></div>
            </div>
            <div class="uk-child-width-1-2@m" uk-grid>
                <app-education></app-education>
                <app-experiences></app-experiences>
            </div>
        </div>
    </div>
    <div class="uk-card-secondary uk-padding-large uk-padding-remove-top">
        <div class="about_me">
            <div class="part_title">
                <h1 class="uk-text-center">{{ skills_title }}</h1>
                <div class="line"></div>
            </div>
            <app-skills></app-skills>
        </div>
    </div>
</div>
