.containner{
    background: #000;
    color: #fff;
}
.item_box{
    padding-left: 30px;
    padding-top: 8px;
    border-left: 2px solid;
}
.educ_name{
    position: relative;
}
.educ_name .befor{
    content: '';
    position: absolute;
    left: -42px;
    top: 4px;
    width: 16px;
    height: 16px;
    box-sizing: content-box;
    border: 4px solid #57555f;
    border-radius: 50%;
}
.part_title h2{
    position: relative;
}
.hr_after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 3px;
}