/* You can add global styles to this file, and also import other style files */
@import 'assets/Uikit/css/uikit.min.css';
@import 'assets/fontawesome/css/all.min.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html{
    background: rgb(110, 110, 110);
}
.width_err{
    display: none;
}
.sc{
    color: #1ec0f0!important;
}
.sc_border{
    border-color: #1ec0f0!important;
}
.sc_bg{
    background-color: #1ec0f0!important;
}
.Con_box{
    background-color: #000;
    padding: 40px;
}
.line{
    width: 100px;
    height: 3px;
    background-color: #1ec0f0!important;
    margin: 20px auto 40px auto;
}
@media (min-width:2000px){
    .page_content{
        width: 1500px;
        max-width: 1500px;
        margin: 0 auto;
    }
}

@media (max-width:400px){
    .width_err{
        display: block!important;
    }
    .width_err .larg{
        display: none;
    }
    .page_content{
        display: none;
    }
}

div.uk-animation-slide-right{
    min-height: 100vh!important;
    position: relative;
}
@media (max-width: 700px){
    div.uk-animation-slide-right{
        min-height: calc(100vh - 60px)!important;
    }
}