<div class="uk-animation-slide-right">
    <div class="uk-height-1-1 uk-width-1-1 uk-position-fixed uk-background-cover" [style.background-image]="'url(' + bg_img + ')'">
        <div id="bg_box" class="uk-height-1-1 uk-width-1-1 uk-flex uk-flex-center uk-flex-middle">
            <div class="uk-text-center uk-padding">
                <h1 class="header sc">{{ header }}</h1>
                <h1 [class.typing]="on_tiping" class="titles">
                    <span class="typ_txt">{{ title }}</span>
                    <span class="cursur_line sc_bg">&nbsp;</span>
                </h1>
                <a routerLink="/contact"  class="uk-button uk-button-primary">{{ contact_txt }}</a>
            </div>
        </div>
    </div>
</div>