#bg_box{
    background-color: #00000085;
}
.header{
    font-weight: 700;
    font-size: 25px;
    margin: 0;
    text-transform: uppercase;
}
.titles{
    margin: 25px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
}
.cursur_line{
    width: 3px;
    margin-left: 0.1rem;
    display: inline-block;
    animation: blink 1s infinite;
}
.typing .cursur_line{
    animation: none;
}
@keyframes blink{
    8%{ background-color: #1ec0f0; }
    49%{ background-color: #1ec0f0; }
    50%{ background-color: transparent; }
    99%{ background-color: transparent; }
    100%{ background-color: #1ec0f0; }
}